*
	font-family "helvetica"

body
	background white

p{
	font-family "helvetica"
	font-size 13px
}

section
	background white
	width 100%

figure
	margin 0
	width 100%

/*Inicio Estilos Header*/
header
	background white
	border-top: 12px solid #FF5000;
	height 190px
	margin -8px 0px 0px 0px
	//position fixed
	width 100%
	z-index 5
	
	div
		margin 0 auto
		width 90%
		
			
		.outsourcing
			border-bottom: 1px solid rgba(255,52,0,0.15);
			display inline-block;
			margin 40px 0px 0px 19%
			width 12%
			vertical-align top
			
			 
			img
				padding 0 0 2px 0
				width 100%
		.redes
			display block
			margin -10px 0% 0px 87%
			vertical-align top
			width 13%
			
			div
				width 100%
				
				div
					display inline-block
					width 20%
					
					img
						width 100%
				:hover
					cursor  pointer

		.ContentBuscador
			display: inline-block;
			height 90px;
			width: 22%;
		
		#buscar
			border 2px solid #FFAB7E
			border-radius 5px
			color gray
			display flex
			height 18px
			margin 50px 0px 0px -15%
			width 80%
		
		figure
			display inline-block
			margin 40px 0px 0px 10%
			width 35%
			
			
			img
				height 100%
				width 100%
				
		.ContentMenu
			margin 0 auto
			width 55%
			
			ul
				padding 0
				width 100%
				
				li
					border-right 1px solid rgb(255, 80, 0)
					display inline-block
					height 40px
					text-align center
					width 24%
					
					a
						color rgb(227, 80, 0)
						width 100%
						
						
						div
							width 100%
							height 40px
						
							p
								font-size 13px
								font-weight bold
								margin 0
								padding 7% 0 0 0 
					:hover
						background #24607d
						color white
					:link
						text-decoration none
					:visited
						color rgb(255, 80, 0)

			li[data-select=true]{
				background: #24607d
			}

			li[data-select=true] a p{
					color:#fff;
			}
/*Fin estilos Header*/

/*Inicio estilos Article Index*/
article
	//padding 280px 0 0 0
	width 100%
	
	.Slider
		width 100%
		.InfoSlider
			background rgba(0,95,127,0.3)//url("../img/FondoBanner.png") no-repeat
			background-size 100%
			display -moz-popup
			height 440px
			margin 0 0 0 4%
			position absolute
			width 25%
			z-index 1
			
		.TransparenciaNegra
			background rgba(0,0,0,0.5)
			height 440px
			margin 0 0 0 4%
			position absolute
			width 25%
			z-index 0
	.ListaSlider
		background none repeat scroll 0% 0% rgba(36, 96, 125, 0.5)
		border 1px solid
		border-top-right-radius 50px
		border-bottom-right-radius 50px
		border-top-left-radius 50px
		border-bottom-left-radius 50px
		margin -3% 0px 0 50%
		position absolute;
		width 130px
		ul
			display inline-block
			margin 0
			padding 0
			width 100px
			li
				width 10px
				height 10px
				margin 4px
				display inline-block
				
				img
					border 1px solid #E35000
					border-radius 50%
					width 100%
					height 100%
				:hover
					cursor pointer
		
		.Antes
			background url("../img/arrowA.png") no-repeat scroll 3px 7px
			background-size 100% 13px
			display inline-block
			height 19px
			width 10px
		.Despues
			background url("../img/arrowS.png") no-repeat scroll 3px 7px / 100% 13px
			display inline-block
			height 19px
			width 10px
			
	
	figure
		height 440px
		
		img
			width 100%
			height 100%
.ContentInfo
	border-left 1px solid #fff
	margin 0 0 0 2%
	.TituloNota p
		color white
		font-size 1.5em
		font-weight bold
		margin-bottom 0
		margin-left 2.5%
	.DetalleNota p
		color white
		margin-bottom 0
		margin-left 2.5%

.ContentBody
	background #fff
	margin 0 auto
	width 95%
	.ContentNoticias
		background #24607d
		display inline-block
		margin 2% 6%
		width 45%
		
		.ContentNews
			margin 2% auto
			width 95%
			div
				p
					color white
				figure
					height 18em !important
					
				a
					background #39ad4a
					font-size 13px
					border 1px solid black
					color white
					margin 0 0 0 70%
					padding 10px 30px
					text-decoration none
	
		.ContentVideos
			height 350px !important
			margin 15% auto 2%
			width 95%
			
			iframe
				width 100%
				height 100%
			
	.ContentCategoriasProd
		background #24607d
		color white
		display inline-block
		margin 0% 5% 0px
		vertical-align top
		width 25%
		
		.Titulo
			.PrimeraLinea
				font-size 40px
				margin 4% 0px 0px 14%
				width 60%
			
			.SegundaLinea
				font-size 40px
				width 50%
				margin 0px 0px 0px 35%
			
			.areaTitulo
				background #24607d
				border-top 1px dashed white
				height 6em
		
		ul
			list-style none
			
			li
				font-size 1.5em
				margin 24% 10%
.TituloCategorias
	position absolute
	height 7em
	margin -785.8px 0px 0% 56.65%
	width 26.65%
	z-index 0
	
	figure
		height 7em
		position absolute
	
	div
		.ParrafoUno
			color white
			font-size 1.5em
			margin 10% 0px 0px 23%
			position absolute
			z-index 1
		.ParrafoDos
			color white
			margin 18% 23%
			position absolute
			z-index 1

.TituloCategorias2
	position absolute
	height 7em
	margin -785.8px 0px 0% 0%
	width 26.65%
	z-index 0
	
	figure
		height 7em
		position absolute
	
	div
		.ParrafoUno
			color white
			font-size 1.5em
			margin 10% 0px 0px 23%
			position absolute
			z-index 1
		.ParrafoDos
			color white
			margin 18% 23%
			position absolute
			z-index 1

.SliderOpcion[data-select=true] img
	border: 1px solid #fff;
/*Fin estilos Article Index*/

/*Estilos Quienes Somos*/
.ContenedorPpalQS
	background url("../img/bannerquienessomos.png") no-repeat
	background-size 100%
	height 272px
	margin 2% auto
	width 900px
	
	.ImagenEmpleado
		display inline-block
		height 196px
		margin 48px 2% 1% 0%
		position absolute
		width 16%
		
		img
			width 100%
			
	.NombreEmpleado
		display inline-block
		font-size 12px
		font-weight bold
		margin 70px 2% 1% 260px
		position absolute
		vertical-align top
		width 40%
		
		p
			color white
			font-size 2em
			margin 0
			
	.ContentRedes
		display inline-block
		margin 70px 0% 1% 790px
		position absolute
		vertical-align top
		width 11%
		
		figure
			display inline-block
			width 20%
			height 20%
			
			img
				width 100%
		:hover
			cursor pointer
				
	.DescripcionEmpleado
		color #FFF
		font-size 15px
		text-align justify
		margin 156px 0px 0 260px
		position absolute
		width 45%
			
/*Fin estilos Quienes Somos*/

/*Inicio estilos Productos*/
.ContentInfoProd
	display inline-block
	margin 2% 6%
	width 45%
	
	.DescripcionProd
		margin 1% auto
		width 90%
		
		figure
			height 269px
			width 513px
			
			img
				border-radius 12px
				width 100%
	
	.GraficoProd
		margin 73px 0 0 0
		
		figure
			height 370px
			margin 0 auto
			width 80%

.TituloCategorias2
	position absolute
	height 7em
	margin -785.8px 0px 0% 2.9%
	width 26.65%
	z-index 0
	
	figure
		height 7em
		position absolute
	
	div
		.ParrafoUno
			color white
			font-size 1.5em
			margin 10% 0px 0px 23%
			position absolute
			z-index 1
		.ParrafoDos
			color white
			margin 18% 23%
			position absolute
			z-index 1

/*Fin Estilos Productos*/

/*Inicio Estilos Contactenos*/
.ContentForm
	background url("../img/FondoContactenos.png")
	background-size 100%
	height 500px
	margin 20px auto 50px auto
	width 80%
	
	p
		font-size 22px
		padding 60px 0 0px 135px
	
	.Obligatorio
		color red
		font-size 13px
		padding 0px 0 0px 135px
	
	form
		margin 0 0 0 35px
		label
			display inline-block
			width 10%
			vertical-align top
		input
			border-top-right-radius 50px
			border-bottom-right-radius 50px
			display inline-block
		textarea
			border-top-right-radius 10px
			border-bottom-right-radius 10px
			display inline-block
			
		div
			background #5882AE
			border-top-right-radius 50px
			border-bottom-right-radius 50px
			margin 5px 0 0 -28px
			width 20%
			button
				background none
				border none
				border-left 1px solid white
				color white
				margin 2px 0 2px 135px
				
			:hover
				cursor pointer
	
/*Fin Etilos Contactenos*/

/*Inicio estilos footer*/
footer
	height 300px
	width 100%
	
	.Partners
		border-top 1px dashed #FF5000
		margin 1% auto
		
		width 90%
		
		figure
			display inline-block
			margin 0px 40px 20px
			img
				width 100%
		
		p
			color #E35000
			font-size 1.5em
		
		div
			overflow auto
			width 100%
			
			div
				width 143%
			
		.Partner1
			width 230px
		.Partner2
			width 140px
		.Partner3
			width 140px
		.Partner4
			width 230px
	.Copy
		background none repeat scroll 0% 0% rgb(227, 80, 0)
		height 15%
		margin 1% 0px 0px
		width 100%
		
		p
			color white
			font-size 15px
			padding 1% 0px 0px 1%
/*Fin estilos footer*/

